section{
    padding: 10vh 5vw 0vh 5vw;
    height: 60vh;
    position: relative;
    background-color: #2A3132;
    color: whitesmoke;
    

    h1{
        font-size: 2.5rem;
        padding-bottom: 3vh;

    }

    p{
        font-size: 1.5rem;
    }
}