
section{
    background-color: rgba($color: #2A3132, $alpha: .6);
    color: whitesmoke;
    height: 10vh;

    .copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
}