<section class="background_image">
  <div class="experience_title">
    <h1>Experiences</h1>
  </div>

  <div class="experience_content">
    <div class="experience_container background_darken">
      <a href="https://portal.unearthed.solutions/competitions/unearthed-brisbane-2018">Unearthed Hackaton Event</a>
      <br>
      <p>Date: 13-15 July 2018</p>
      <p>Description</p>
      <p>Involved on innovative event by giving suggestions to solve issues in Origin. Provide gamification solution as one
        of their solution.</p>
    </div>
    <div class="experience_container background_darken">
      <a href="https://www.unidus.org.au/">Unidus commnity center (Internship)</a>
      <br>
      <p>Date: March-June 2018</p>
      <p>Description</p>
      <p>Involved in Unidus Community Center as IT support by providing solutions and building web application.</p>
    </div>
    <div class="experience_container background_darken">
      <a href="https://stewardshipfinanceacademy.com.au/">Stewardship Finance Academy (SFA) Internship</a>
      <br>
      <p>Date: July 2018 - Current</p>
      <p>Description</p>
      <p>Involved in SFA as IT support which specialise on website management (WordPress
        <i class="fa fa-wordpress"></i>).</p>
    </div>
  </div>
</section>