
<section class="background_image">
  
  <div class="name_image">
    <h1 class="name">chen pin leong</h1>
    <img class="image" src="../../assets/patrick.png">
    <h2>front-end developer</h2>
  </div>

  <div class="skill_sets">

    <div class="skill_title">
      <label>Skills:</label>
    </div>

    <div class="skill_list">

      <div class="skill_container">HTML
        <i class="fa fa-html5"></i>
      </div>

      <div class="skill_container">SCSS/CSS
        <i class="fa fa-css3"></i>
      </div>

      <div class="skill_container">ANGULAR 6
        <i class="fa fa-angular"></i>
      </div>

    </div>

    <div class="skill_list">

        <div class="skill_container">GIT
          <i class="fa fa-github"></i>
        </div>
  
        <div class="skill_container">NODE.JS
          <i class="fa fa-node-js"></i>
        </div>
  
        <div class="skill_container">ASP.NET
          <i class="fa fa-microsoft"></i>
        </div>
  
      </div>

      <div class="skill_list">

          <div class="skill_container">XAMARIN
            <i class="fa fa-mobile-alt"></i>
          </div>
    
          <div class="skill_container">JIRA
            <i class="fa fa-tasks"></i>
          </div>
    
        </div>
  </div>


</section>