
<section class="set_image_dim background_image background_darken">
  
    <label class="section_label">Education Records</label>
    <br>
    <div class="education_align">

      <div class="education_container">
        <label>Diploma: </label>
        <ul>
          <li class="title">INTI College Subang</li>
          <li class="major">diploma information and communication technology</li>
          <li class="graduate_date">Graduated: 2014 DEC</li>
        </ul>
      </div>

      <div class="education_container">
        <label>Bechelor Degree: </label>
        <ul>
          <li class="title">QUT</li>
          <li class="major">bacheor of it (computer science)</li>
          <li class="graduate_date">Graduated: 2017 DEC</li>
        </ul>
      </div>
    </div>
</section>