<section>

    <div class="project_title">
      <h1>Project
        <i class="fas fa-file-code"></i>
      </h1>
    </div>

    <div class="project_container darken_background">
      <a href="https://github.com/leongcp93/trasnportMinistry/tree/newTransportMinistry">Transport Ministry</a>
      <label>Description</label>
      <p>This project is use to manage students transport in HOPE church Brisbane. The framework used behind this project is
        Angular 6 with python as the backend.</p>
    </div>

</section>