
section{
    background-color: #2A3132;
    height: 60vh;
    width: 100vw;
    color: whitesmoke;
    padding: 10vh 5vw 0vh 5vw;

    .darken_background{
        background-color: rgba($color: #000000, $alpha: .2);
    }


    .project_title{

        font-size: 2rem;
        padding-bottom: 5vh;

    }

    .project_container{

        font-size: 1.25rem;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5vh 0vw 5vh 3vw;
        
        a{
            color: whitesmoke;
            font-size: 2rem;
            width: 19vw;
        }

    }
}