<section>
  <div class="view_title">
    <h1>On Going Working Experience</h1>
  </div>

  <div class="view_content darken_background">
    <h2>Suncrane (chefhand)</h2>
    <label>Date: April 2018 - current</label>
    <p>Working as a chefhand to support myself financially.</p>
  </div>

  <div class="contact_resume">
    <div class="view_contact">
      <label>Contact me through: </label>
      <a target="_blank" href="https://github.com/leongcp93">
        <i class="fa fa-github"></i>
      </a>
      <span>,</span>
      <a target="_blank" href="https://www.linkedin.com/in/patrick-leong-a82773148/">
        <i class="fa fa-linkedin"></i>
      </a>
      <span>Or leave message in contact form.</span>
    </div>

    <div class="view_resume">
      <button>View Resume</button>
    </div>
  </div>


</section>